*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: cute;
    src: url(media/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: cute2;
    src: url(media/Super\ Creamy\ Personal\ Use.ttf);
}

body{
    font-family: cute;
    color: rgb(75, 31, 31);
    overflow: hidden;
    background-color: rgb(247, 244, 244);
    text-align: center;
}

h1{
    font-family: cute2;
    color: rgb(75, 31, 31);
    overflow: hidden;
    font-size: 40px;
    position: relative;
    top: 3vh;
}

.profiletext{
    top: 20vh;
    padding: 15px; 
    width: 75vw;
    height: 70vh;
    position: absolute;
    border-radius: 20px;
    left: 11vw;
    background-color: rgb(211, 168, 168);
}

.navbar{
    height: 7vh;
    text-align: left;
    position: relative;
    background-color: rgb(180, 118, 118);
}
.navbar p{
    position: relative;
    top: 1.7vh;
    left: 2vw;
}